body{
    font-family: 'Kanit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.content{
    height: 100vh;
    background-color:rgb(241, 244, 176);
}


.navadmin{
    background-color: #FFC700;
    height: 100vh;
    
}

@media only screen and (max-width: 992px) {
    .navadmin{
        background-color: #FFC700;
        height: 100%;
        padding: 0px;
    }
  }
.navadmin a{
    /* background-color: #FFC700; */
    display: block;
    padding: 1.0em 0em 1em 0.2em;
    padding-top: 1.3em;
    width: 100%;
    font-size: 1.0em;
    color: black;
}
.bg-action{
    background-color: rgb(194, 191, 191);
}


.a-style{
    
    text-decoration: none;
}

.a-style a{
    padding: 17px 0px 17px 12px;
    text-decoration: none;
}

.active{
    background-color: #cd680a;
}

.header{
    margin-top: 10px;
    text-align: center;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #e1e1e1; /* Choose your own color here */
}
.grid{
    width: 90%;
    margin: auto;
}

.button{

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
    transition-duration: 0.4s;
    cursor: pointer;

}

.btn-edit{
    background-color: rgb(221, 147, 36); 
    color: rgb(255, 255, 255); 
    border-radius: 10px;
}

.btn-add{
    background-color: rgb(87, 188, 50); 
    color: rgb(255, 255, 255); 
    border-radius: 10px;
    width: auto;
}
.btn-delete{
    background-color: rgb(207, 16, 45);
    color: rgb(255, 255, 255); 
    border-radius: 10px;
}

.btn-detail{
    background-color: rgb(23, 119, 228);
    color: rgb(255, 255, 255); 
    border-radius: 10px;
}

.btn-search{
    background-color: rgb(9, 27, 192);
    color: rgb(255, 255, 255); 
    border-radius: 10px;
    width: auto;
}

.formcontent{
    width: 70%;
    margin: auto;
    margin-top:2em;
    margin-bottom:3em;
    padding: 1.2em 2em 1.5em 2em;
    background-color: rgba(240, 238, 238, 0.947);
    border-radius: 8px;
}

.request-hetory{
    width: 70%;
    margin: auto;
    margin-top:10px;
    background-color: rgba(240, 238, 238, 0.947);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
}

.request-item{
    background-color: rgba(181, 182, 179, 0.892);
    width: 85%;
    margin: auto; 
    border-radius: 8px;
    padding: 9px;
    text-align: center;
}

.transfer-select{
    width: 70%;
    height: 0%;
    margin: auto;
    margin-bottom: 0;
    background-color: rgba(132, 177, 41, 0);
    
}

.transfer-select button{
    color:#000000;

}


.transfer-tab{
    background-color: #ffffff;
    height: auto;
    width: 70%;
    margin: auto;
    color: #000000;
   
}

.transfer-item{
    width: 85%;
    height: auto;
    /* padding-top: 30px; */
    background-color: #ffffff;
    border: solid 2px #ababab;
}

.transfer-item-text{
     padding-top: 30px;
}
.reject{
    
    background-color: rgba(235, 81, 81, 0.864);
}

.approve{
    background-color: rgba(91, 230, 89, 0.793);
}

.pandding{
    background-color: rgba(234, 237, 72, 0.885);
}

.sending{
    background-color: rgba(230, 141, 24, 0.892);
}


.heading{
    background-color: rgba(153, 153, 153, 0.892);
}